@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap');

*{

  margin-left: 0px;
  padding: 0px;
}
body{
  background-color: #E5E5E5;
  font-family: 'Crimson Pro';
  margin-top: 0px;
}

.SideBar{
  background-color: white;
  height: 100%;
  width: 200px;
  position: fixed;
}
.logo{
  text-align: center;
  padding: 20px 0px;
  width: 140px;
  margin-left: 20px;
}
.menu{
  margin-top: 100px;
  margin-left: -10px;
}

.menu li{
  padding: 10px 0px;
  list-style-type: none;
  text-align: center;
  font-style: bold;
  font-weight: 500;
  margin-bottom: 50px;
}
.menu li:active{
  background-color: #377DFF;
  color: white;
  border-radius: 5px;
}
.settings{
  margin-top: 100px;
  text-align: center;
  margin-left: -10px;
  font-weight: 500;
  font-style: bold;
}
.stats{
  display: grid;
  grid-template-columns:  300px[col-start] 250px [col-end] 250px [col-end];
  column-gap: 10px;
  margin-left: 300px;
}
.details{
  margin-top: 100px;
  background-color: white;
  height: 70px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: #38CB89;
  color: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 400px;
  background-color: white;
  margin-top: 0;
  position: relative;
  top: 100px;
  
  
}

.content-table thead tr {
  background-color: #377DFF;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #377DFF;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #377DFF;
}
.link{
  cursor: pointer;
  text-decoration: none;
}
.name{
  background-color: #377DFF;
  border-radius: 2px;
  color: white;
  border-bottom: #6995e9 2px solid;
}
.update{
  background: none;
  border: none;
  padding: 10px;
  background-color: #377DFF;
  color: white;
  border-radius: 3px;
  width: 100px;
}